body{
font-family:Arial,sans-serif;
text-align:center;
margin:0;
background:#FADADD;
}

#container{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
height:100vh;
background:rgba(255,255,255,.4);
backdrop-filter:blur(12px);
border-radius:30px;
box-shadow:0 20px 50px rgba(0,0,0,.15);
padding:40px;
}

#question{
    color: red;
font-family:'Sacramento',cursive;
font-size:64px;
margin-bottom:20px;
}

#options{
margin-top:20px;
margin-left: -100px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

button{
    
padding:12px 26px;
margin:0 10px;
font-size:24px;

font-family:'Poppins',sans-serif;

background:#FB607F;
color:white;

border:2px solid #e11d48;

border-radius:40px;
cursor:pointer;
transition:.3s;

box-shadow:0 8px 20px rgba(225,29,72,.25);
}

button:hover{
transform:scale(1.1);
}

#no-button{
position:absolute;
background:white;
color:#FB607F;
}
